.layout-wrapper {
  display: flex;
  padding-top: 64px;
  min-height: 100vh;
  background: #f8f9fa;
}

.main-content {
  flex: 1;
  margin-left: 260px;
  padding: 24px;
  max-width: 100%;
  min-height: calc(100vh - 64px);

  @media (max-width: 992px) {
    margin-left: 0;
    padding: 16px;
  }
}
