@use '@angular/material' as mat;

// Import common styles and design tokens from assets
@import 'assets/styles/index';

// Include Angular Material theme
html {
  @include mat.theme((
    color: (
      primary: mat.$violet-palette,
      tertiary: mat.$blue-palette,
    ),
    typography: Roboto,
    density: 0,
  ));
}
